<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Perguntas</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
   
    <nav class="navbar navbar-dark bg-dark">
        <a href="/">
            <img src="/img/guia.png" alt="">
        </a>
    </nav>
<div class="container">
    <div class="card" id="formulario-pergunta">
        <div class="card-header">
            <h2>Realizar Perguntas !</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/salvarpergunta">
                <label>Título</label>
                <input type="text" placeholder="Título" class="form-control" name="titulo">
                <br> <label>Descrição</label>
                <textarea type="text" placeholder="Descreva sua pergunta" class="form-control" name="descricao"></textarea>
                <button class="btn btn-success">Perguntar</button>
                
            </form>

        </div>
    </div>
    
</div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>

</html>
