<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

<body>

    <%- include('partials/footer.ejs') %>
<div class="container">
    <div class="card">
        <% perguntas.forEach(pergunta=>{ %>
            <p><%= pergunta.titulo %></p>
        <% }) %>
    </div>
</div>



</body>

</html>